In [1]:
# Dependencies
import pandas as pd
import os
import numpy as np

In [2]:
#File Path
school_data = "Resources/schools_complete.csv"
student_data ="Resources/students_complete.csv"

In [77]:
school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

# combine files files displayed
school_and_student_data =pd.merge(student_data_df,school_data_df, how ="left", on=["school_name", "school_name"])

school_and_student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [4]:
## Distric Summary

# Total # of Schools
school_total = school_and_student_data["school_name"].unique()
total_school = len(school_total)
total_school

15

In [5]:
# Total # of Students
student_total = school_and_student_data["Student ID"].unique()
total_student = len(student_total)
total_student

39170

In [6]:
#  * Total Budget
# Groupby on school name; groupby accumlating function via mean;pull out the budget column

budget_school = school_and_student_data ["budget"].mean()
budget_school

2117240.989481746

In [7]:
schoolandstudentgroupby = school_and_student_data.groupby(['school_name'])
schoolandstudentgroupby.mean()


#total_school_names = school_name.mean()
#total_budget = total_school_names.sum()
#school_and_student_data["budget_total"] = school_and_student_data ["total_schools"].astype(float).map("${:,.2f}".format)

#hosted_in_us_df["goal"] = hosted_in_us_df["goal"].astype(float).map("${:,.2f}".format)

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [8]:
# Avg Math Scores

math_scores_avg = school_and_student_data ["math_score"].mean()
math_scores_avg

78.98537145774827

In [9]:
# Ave Reading Scores
reading_scores_avg = school_and_student_data ["reading_score"].mean()
reading_scores_avg

81.87784018381414

In [10]:
#% passing. get rows >= 70 math score column, .loc
passing_math = school_and_student_data.loc[(school_and_student_data ["math_score"] >= 70)]

passing_math_count = len(passing_math)

total_percent_passmath = passing_math_count/total_student

total_percent_passmath

0.749808526933878

In [11]:

  #* % Passing Reading (The percentage of students that passed reading.)
passing_reading = school_and_student_data.loc[(school_and_student_data ["reading_score"] >= 70)]

passing_reading_count = len(passing_reading)

total_percent_passreading = passing_reading_count/total_student

total_percent_passreading

0.8580546336482001

In [12]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
 
total_passing_mathandreading = (passing_math_count + passing_reading_count)
total_passing_mathandreading

62980

In [48]:
#total_percentage_mathandreading = total_passing_mathandreading/total_student
#total_percentage_mathandreading
total_passed = (passing_math_count + passing_reading_count)
total_passed_percentage = total_student/total_passed
total_passed_percentage

0.6219434741187678

In [62]:
district_summary_df= pd.DataFrame({"Total Schools": [total_school],
                                    "Total Students":[total_student],
                                    "Total_Budget":[budget_school],
                                    "Average Math Scores": [math_scores_avg],
                                    "Average Reading Scores":[reading_scores_avg],
                                    "% Passing Math": [total_percent_passmath],
                                    "% Passing Reading":[total_percent_passreading],
                                    "% Overall Passing":[total_passed_percentage]})

district_summary_df

,Total Schools,Total Students,Total_Budget,Average Math Scores,Average Reading Scores,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,2.117241e+06,78.985371,81.87784,0.749809,0.858055,0.621943

In [122]:
#SCHOOL SUMMARY

schoolsummary = school_data_df.loc[]
school_name = school_summary["school_name"]
type_summary = school_summary["type"]
id_summary = school_summary["Student ID"]
school_budget_summary = school_summary["schoolbudget"]
student_budget_summary = school_summary["studentbudget"].mean()
math_summary = school_summary["math_score"].mean()
reading_summary = school_summary["reading_score"]

schoolsummary

SyntaxError: invalid syntax (<ipython-input-122-6be952e7ff7e>, line 3)

In [113]:
school_name = school_summary["school_name"]
school_name 
type_summary = school_summary["type"]
id_summary = school_summary["Student ID"]
school_budget_summary = school_summary["schoolbudget"]
student_budget_summary = school_summary["studentbudget"].mean()
math_summary = school_summary["math_score"].mean()
reading_summary = school_summary["reading_score"]

KeyError: 'schoolbudget'

In [88]:
# Total # of Schools
names_summary = school_and_student_data["school_name"].unique()
names_summary

  #* School Name
 # * School Type
 # * Total Students
 # * Total School Budget
 # * Per Student Budget
  #* Average Math Score
 # * Average Reading Score
  #* % Passing Math (The percentage of students that passed math.)
 ## * % Passing Reading (The percentage of students that passed reading.)
  #* % Overall Passing (The percentage of students that passed math **and** reading.)

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)